<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Note Authentication</title>
</head>
<body>
  <hi>Note Authentication</hi>
  {% if result %}
    <p>{{result}}</p>
  {% endif %}

  <form method="post" action="/predict">

    <label>variance</label><br>
    <input type = "text" name="variance" > <br><br>
    <label>skewness</label><br>
    <input type = "text" name="skewness"> <br><br>
    <label>curtosis</label><br>
    <input type = "text" name="curtosis"> <br><br>
    <label>entropy</label><br>
    <input type = "text" name="entropy"> <br><br>
    <input type = "submit" value="Predict" ><br><br>

  </form>

  <form method="post" action="/predict" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="predict"></p>
  </form>



</body>

</html>